@define-mixin titleStyles {
  margin: 0;
  font-weight: 300;
  color: $mainBlue;
}

@define-mixin atSmall {
  @media ( min-width: 33.125rem ) {
    @mixin-content;
  }
}

@define-mixin atMedium {
  @media ( min-width: 50rem ) {
    @mixin-content;
  }
}

@define-mixin atLarge {
  @media ( min-width: 75rem ) {
    @mixin-content;
  }
}
