.primary-nav {
  padding-top: .625rem;
  height: 2.625rem;

  @mixin atMedium {
    padding-top: 0;
  }

  &--pull-right {
    @mixin atMedium {
      float: right;
    }
  }

  ul {
    height: inherit;
    padding: 0;
    margin: 0;
    @mixin clearfix;
  }

  li {
    display: inline-block;
    height: inherit;
    list-style: none;
    padding-right: .4375rem;

    @mixin atMedium {
      float: left;
      display: table;
      padding-right: 1.25rem;
    }

    &:last-child {
      padding-right: 0;

      @mixin atMedium {
        padding-right: 1.25rem;
      }
    }
  }

  a {
    display: block;
    padding: .3125rem .5rem;
    color: #fff;
    background-color: rgba($mainBlue, .5);
    font-size: .8rem;
    font-weight: 300;
    text-decoration: none;

    @mixin atMedium {
      display: table-cell;
      vertical-align: middle;
      background-color: transparent;
      font-size: 1rem;

      &.is-current-section {
        color: #fabb69;
      }
    }
  }
}
