.row {
  @mixin clearfix;

  &--col-gutters {
    margin-right: -4.0625rem;

    & > div {
      padding-right: 4.0625rem;
    }

    &-sm {
      margin-right: -2.8125rem;

      & > div {
        padding-right: 2.8125rem;
      }
    }

    &-lg {
      margin-right: -6.25rem;

      & > div {
        padding-right: 6.25rem;
      }
    }
  }

  &--t-padding {
    padding-top: 5rem;
  }

  &--b-margin-until-md {
    margin-bottom: 1rem;
  }

  @mixin atMedium {
    &__col-md {
      &-4 {
        float: left;
        width: 33.33333333333333%;

        &--larger {
          width: 37%;
        }
      }

      &-6 {
        float: left;
        width: 50%;
      }

      &-8 {
        float: left;
        width: 66.66666666666667%;

        &--smaller {
          width: 63%;
        }
      }
    }

    &--b-margin-until-md {
      margin-bottom: 0;
    }

    /* Equal Height Rules */
    .flexbox &--equal-height-at-md {
      display: flex;

      & > div {
        float: none;
        display: flex;
      }
    }
  }

  @mixin atLarge {
    &__col-lg {
      &-4 {
        float: left;
        width: 33.33333333333333%;

        &--larger {
          width: 37%;
        }
      }

      &-6 {
        float: left;
        width: 50%;
      }

      &-8 {
        float: left;
        width: 66.66666666666667%;

        &--smaller {
          width: 63%;
        }
      }
    }

    &--b-margin-until-lg {
      margin-bottom: 0;
    }

    /* Equal Height Rules */
    .flexbox &--equal-height-at-lg {
      display: flex;

      & > div {
        float: none;
        display: flex;
      }
    }
  }
}
